<img src="./assets/images/ico-arrow.svg" alt="arrow icon">

<ul>
  <li>articles</li>
  <li>books</li>
  <li>events</li>
  <li>reasons</li>
  <li>tips</li>
</ul>

<ul>
  <li>twitter</li>
  <li>instagram</li>
  <li>mastodon.social</li>
</ul>

<footer class="page__footer">
  <small>
    &copy; 2021 we love components
    <!--<include
      src="./link.html"
      aClass="link__adalab"
      text="Adalab"
      url="https://adalab.es"
    ></include>-->
  </small>
</footer>
