<section class="container_footer">
  <a href="#header" title="Back to top" alt="Back to top"><img src="./assets/images/ico-arrow.svg" href alt="arrow icon" class="scroll_arrow"></a>
  <div class="content">
    <ul class="list list1">
      <li><a href="https://adalab.es/">articles</a></li>
      <li><a href="https://adalab.es/">books</a></li>
      <li><a href="https://adalab.es/">events</a></li>
      <li><a href="https://adalab.es/">reasons</a></li>
      <li><a href="https://adalab.es/">tips</a></li>
    </ul>
    <ul class="list list2">
      <li><a href="https://adalab.es/">twitter</a></li>
      <li><a href="https://adalab.es/">instagram</a></li>
      <li><a href="https://adalab.es/">mastodon.social</a></li>
    </ul>
    <footer class="page_footer">
      <div>&copy; 2021 </div>
      <small>
        we <span class="heart">&#10084;</span> components
      </small>
    </footer>
  </div>
</section>
