<section class="reasons_container">
    <h1 class="reasons_title item1">
        3 reasons to purchase
    </h1>
    <div class="item2">
        <h2 class="reasons_subtitle">
            Ut sed metus
        </h2>
            <p class="reasons_content">
                Lorem ipsum dolor sit amet consectetur.
            </p>
    </div>
    <div class="item3">
        <h2 class="reasons_subtitle">
            Curabitur ac erat
        </h2>
            <p class="reasons_content">
                Mauris mattis urna quis lorem molestie.
            </p>
    </div>
    <div class="item4">
        <h2 class="reasons_subtitle">
            Morbi dictum
        </h2>
            <p class="reasons_content">
                Aliquam in dolor et dolor tincidunt.
            </p>
    </div>
    <div class="reasons_button item5">
        More reasons
    </div>
    
</section>