<section class="reasons_container">
    <h1 class="reasons_title">
        3 reasons to purchase
    </h1>
    <h2 class="reasons_subtitle">
        Ut sed metus
    </h2>
        <p class="reasons_content">
            Lorem ipsum dolor sit amet consectetur.
        </p>
    <h2 class="reasons_subtitle">
        Curabitur ac erat
    </h2>
        <p class="reasons_content">
            Mauris mattis urna quis lorem molestie.
        </p>
    <h2 class="reasons_subtitle">
        Morbi dictum
    </h2>
        <p class="reasons_content">
            Aliquam in dolor et dolor tincidunt.
        </p>
    <div class="reasons_button">
        More reasons
    </div>
</section>