.container_footer {
  display: flex;
  flex-direction: column;
  width: 100vw;
  background-color: #304268;
  text-align: center;
  color: white;
  @media all and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
    @media all and (min-width: 1200px) {
      padding-left: 180px;
      padding-right: 180px;
    }
  }
}

.scroll_arrow {
  height: 45px;
  width: 45px;
  position: absolute;
  background-color: white;
  transform: translate(0px, -50%);
  padding: 10px;
  border-radius: 100px;
}

.content {
  padding-top: 60px;
  padding-bottom: 45px;
  text-align: center;
  @media all and (min-width: 768px) {
    display: flex;
    flex-direction: row;
  }
}

.list {
  list-style-type: none;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: white;
}

.list1 {
  @media all and (min-width: 768px) {
    width: 210px;
    text-align: left;
    order: 2;
  }
}

.list2 {
  padding-top: 30px;
  padding-bottom: 30px;
  @media all and (min-width: 768px) {
    width: 210px;
    text-align: left;
    order: 3;
    padding: 0px;
  }
}

.page_footer {
  line-height: 30px;
  font-size: 14px;
  color: white;
  @media all and (min-width: 768px) {
    width: 210px;
    text-align: left;
    order: 1;
  }
}

.heart {
  color: #f62002;
}
