.header {
  display: flex;
  flex-direction: column;
  height: 568px;
  width: 100%;
  color: white;
}

.background {
  height: 568px;
  min-width: 1200px;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
}

.hamburger {
  height: 44px;
  width: 44px;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #0271bc;
  position: absolute;
}

.words {
  font-size: 16px;
  padding-bottom: 143px;
  margin: 15px;
  justify-content: center;
}
.words1 {
  padding-top: 284px;
  line-height: 55px;
  font-size: 42px;
  text-transform: uppercase;
}

.arrow_down {
  background-color: white;
  height: 45px;
  width: 45px;
  padding-left: 13px;
  padding-right: 12px;
  padding-top: 18px;
  padding-bottom: 15px;
  border-radius: 100px;
  position: absolute;
  transform: translate(0px, -50%);
}
/*@media all and (min-width: 768px) {
  .background {
    height: 768px;
  }
}*/
@media all and (max-width: 768px) {
  .background {
    height: 768px;
    left: 50%;
    margin-left: -384px;
  }
}

@media all and (max-width: 1200px) {
  .background {
    min-height: 768px;
    left: 50%;
    margin-left: -600px;
  }
}
