.hamburger {
  height: 44px;
  width: 44px;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #0271bc;
  position: absolute;
  z-index: 5;
}
