.reasons {
  height: 654px;
  background-color: #eff9ff;
  text-align: center;
}

.title2 {
  line-height: 30px;
  font-size: 24px;
  font-weight: bold;
}

.points {
  line-height: 30px;
  font-size: 18px;
}
